
.main{
    margin: auto;
    width: 940px;
    height: 100%;
}
.Header{
    width: 100%;
    height: 82px; 
    display: flex;
    justify-content: space-between;
}
.Logo{
    width: 200px;
    height: 82px;
    color: orange;
    font-size: 40px;
    padding: 10px;
    box-sizing: border-box;
}
.Menu{
    width: 740px;
    height: 82px;
    display: flex; 
    padding-left: 300px;
    box-sizing: border-box;
    
}
li{
    display: inline;
    font-size: 30px;
    padding: 0 10px;
    box-sizing: border-box;
    color: rgba(4, 4, 136, 0.877);
    font-family: Roboto;
}
.Number{
    margin: 20px 50px;
    font-size: 400px;
    text-align: center;
    color: orange;
    font-family: Roboto;
}
.Buttons{
    width: 940px;
    text-align: center;
    padding: 30px;
    box-sizing: border-box;
    margin-bottom: 50px;
}
.btn{
    width: 180px;
    padding: 15px 20px;
    margin: 0 50px;
    font-size: 25px;
    font-family: Roboto;
    border: none;
    border-radius: 4px;
}
.btn-blue{
    background-color: blue;
    color: white;
}
.btn-orange{
    background-color: orange;
    color: white;
}
.btn-grey{
    background-color: grey;
    color: black;
}
.footerWrap{
    position: relative;
}
.footer{
    width: 940px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
}
.footMenu{
    display: flex;
    margin: 10px;
}
.footMenuc{
    padding: 20px;
    font-size: 18px;
    font-family: Roboto;
}
.intocode{
    padding: 20px;
    font-size: 18px;
    margin: 10px;
    color: gray;
    font-family: Roboto;
}
.footLogo{
    font-size: 30px;
    color: gray;
    padding: 15px;
    box-sizing: border-box;
    height: 60px;
    margin: 10px;
}